h1 {
  color: blue;
  text-align: center;
  font-size: 55px

}
h2 {
  color: green;
  font-size: 55px
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ol {
  line-height: 40px;
  font-family: sans-serif;
}
body {
  background-color: #a2f0ec
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
