body {
  background-color: #C2C6C7;
}
.likes {
  font-family: sans-serif;
}
.introduction {
  font-family: monospace;
}
h1.introduction {
  color: #3f3844;
  text-align: center;
  font-size: 55px;
}
h2.introduction {
  color: #3f3844;
  text-align: center;
}
h2.likes {
  color: #3f3844;
  text-align: center;
  font-size: 30px;
  font-style: oblique;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p.introduction {

  font-size: 17px;
}
p.likes {
  font-size: 18px;
}

ol.introduction {
  font-size: 17px;
}
ol.likes {
  font-size: 18px;
  line-height: 30px;
}
ul.introduction {
  font-size: 17px;
}
ul.likes {
  font-size: 18px;
  line-height: 30px;
}
